.card{
    background: #2C343A;
    border-radius: 16px;
}

.card.destaque{
    grid-area: card_destaque;
}

.card_1{
    grid-area: card_1;
}

.card_2{
    grid-area: card_2;
}

.card_3{
    grid-area: card_3;
}

.card_4{
    grid-area: card_4;
}

.foto_card{
    border-radius: 16px 16px 0 0;
}

.card_info{
    display: grid;
    gap: 12px 24px;
    grid-template-columns: auto 1fr;
    padding: 16px;
}

.subtitulo_destaque{
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.3;
    grid-column: 1 / -1;
}

.card_titulo{
    font-size: 1.125rem;
    font-weight: bold;
    grid-column: 1 / -1;
    margin: 0 0 18px 0;
}

.card_titulo.destaque{
    font-size: 1.625rem;
    margin: 0;
}

.card_autor{
    font-size: 0.875rem;
    line-height: 1.7;
    color: #95999C;
    grid-column: 1 / -1;
}

.card_duracao, .card_visualizacao, .card_preco{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #95999C;
}

